<mat-card (click)="editMerchant(merchant.id)">
  <div
    class="card-image"
    mat-card-image
    [ngStyle]="{
      'background-image': 'url(' + merchant.logo + ')'
    }"
  ></div>

  <mat-card-title>{{ merchant.name }}</mat-card-title>
  <mat-card-subtitle>{{ merchant.adress }}</mat-card-subtitle>

  <mat-card-content>
    <div class="card-content-item">
      <mat-icon aria-hidden="false" aria-label="add phone">phone</mat-icon>
      <span class="card-item_text">{{ merchant.phone }}</span>
    </div>
    <div class="card-content-item">
      <mat-icon aria-hidden="false" aria-label="add web">public</mat-icon>
      <span class="card-item_text">
        <a
          [href]="merchant.website"
          target="blank"
          (click)="$event.stopPropagation()"
          >網址</a
        >
      </span>
    </div>
  </mat-card-content>
  <mat-card-actions>
    <a
      mat-stroked-button
      [routerLink]="['..', 'product', merchant.id]"
      (click)="$event.stopPropagation()"
    >
      管理菜單
    </a>
    <button
      mat-icon-button
      class="card-delete-btn"
      (click)="deleteMerchant(merchant.id)"
    >
      <mat-icon>delete</mat-icon>
    </button>
  </mat-card-actions>
</mat-card>
