.category-list {
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
  // justify-content: start;
  justify-content: center;
}

.category-list-item,
.category-list-item:active,
.category-list-item:focus,
.docs-component-category-list-item:hover {
  text-decoration: none;
}

.category-list-item {
  display: inline-block;
  margin: 20px;
  vertical-align: top;
  width: 280px;
}

.add-button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.8);
  color: #fff;
  height: 338px;
  width: 280px;
  cursor: pointer;
  transition: 0.2s;

  &:hover {
    background-color: rgba(0, 0, 0, 0.5);
  }
}
